In [1]:
import pm4py

log1 = pm4py.read_xes('1167521718.xes')
pd1 = pm4py.convert_to_dataframe(log1)
pd1

HBox(children=(IntProgress(value=0, description='parsing log, completed traces :: ', max=2, style=ProgressStyl…

                                    concept:name            time:timestamp  ID
0                        check  mail by  charlse 1970-04-26 18:46:41+00:00   0
1              archive  letter and  infor mation 1970-04-26 18:46:43+00:00   0
2         take letters and register to secretary 1970-04-26 18:46:44+00:00   0
3                                 receive letter 1970-04-26 18:46:45+00:00   0
4          write letter with reason of rejection 1970-04-26 18:46:47+00:00   0
5                        check  mail by  charlse 1970-04-26 18:46:48+00:00   1
6   make phone call to sender and complete  info 1970-04-26 18:46:50+00:00   1
7              archive  letter and  infor mation 1970-04-26 18:46:51+00:00   1
8         take letters and register to secretary 1970-04-26 18:46:52+00:00   1
9                                 receive letter 1970-04-26 18:46:53+00:00   1
10         write letter with reason of rejection 1970-04-26 18:46:55+00:00   1

In [2]:
import pm4py

log2 = pm4py.read_xes('1167521718_noisy.xes')
pd2 = pm4py.convert_to_dataframe(log2)
pd2

HBox(children=(IntProgress(value=0, description='parsing log, completed traces :: ', max=1000, style=ProgressS…

,concept:name,time:timestamp,ID
0,check mail by charlse,1970-04-26 18:46:41+00:00,0
1,archive letter and infor mation,1970-04-26 18:46:43+00:00,0
2,take letters and register to secretary,1970-04-26 18:46:44+00:00,0
3,receive letter,1970-04-26 18:46:45+00:00,0
4,write letter with reason of rejection,1970-04-26 18:46:47+00:00,0
...,...,...,...
6253,make phone call to sender and complete info,1970-04-26 18:46:50+00:00,999
6254,archive letter and infor mation,1970-04-26 18:46:51+00:00,999
6255,take letters and register to secretary,1970-04-26 18:46:52+00:00,999
6256,receive letter,1970-04-26 18:46:53+00:00,999
6257,write letter with reason of rejection,1970-04-26 18:46:55+00:00,999

In [3]:
# combine the rows by case number 
pd1 =pd1.groupby('ID', as_index=False).agg(lambda x: x.tolist())
pd1

,ID,concept:name,time:timestamp
0,0,"[check mail by charlse, archive letter and ...","[1970-04-26 18:46:41+00:00, 1970-04-26 18:46:4..."
1,1,"[check mail by charlse, make phone call to s...","[1970-04-26 18:46:48+00:00, 1970-04-26 18:46:5..."

In [4]:
# combine the rows by case number 
pd2 =pd2.groupby('ID', as_index=False).agg(lambda x: x.tolist())
pd2

,ID,concept:name,time:timestamp
0,0,"[check mail by charlse, archive letter and ...","[1970-04-26 18:46:41+00:00, 1970-04-26 18:46:4..."
1,1,"[check mail by charlse, make phone call to s...","[1970-04-26 18:46:48+00:00, 1970-04-26 18:46:5..."
2,2,"[check mail by charlse, archive letter and ...","[1970-04-26 18:46:41+00:00, 1970-04-26 18:46:4..."
3,3,"[check mail by charlse, make phone call to s...","[1970-04-26 18:46:48+00:00, 1970-04-26 18:46:5..."
4,4,"[check mail by charlse, archive letter and ...","[1970-04-26 18:46:41+00:00, 1970-04-26 18:46:4..."
...,...,...,...
995,995,"[check mail by charlse, make phone call to s...","[1970-04-26 18:46:48+00:00, 1970-04-26 18:46:5..."
996,996,"[check mail by charlse, archive letter and ...","[1970-04-26 18:46:41+00:00, 1970-04-26 18:46:4..."
997,997,"[write letter with reason of rejection, check ...","[NaT, 1970-04-26 18:46:48+00:00, 1970-04-26 18..."
998,998,"[check mail by charlse, archive letter and ...","[1970-04-26 18:46:41+00:00, 1970-04-26 18:46:4..."
999,999,"[check mail by charlse, make phone call to s...","[1970-04-26 18:46:48+00:00, 1970-04-26 18:46:5..."

In [5]:
pd2['concept:name_normal'] = pd1['concept:name']

In [6]:
pd2

,ID,concept:name,time:timestamp,concept:name_normal
0,0,"[check mail by charlse, archive letter and ...","[1970-04-26 18:46:41+00:00, 1970-04-26 18:46:4...","[check mail by charlse, archive letter and ..."
1,1,"[check mail by charlse, make phone call to s...","[1970-04-26 18:46:48+00:00, 1970-04-26 18:46:5...","[check mail by charlse, make phone call to s..."
2,2,"[check mail by charlse, archive letter and ...","[1970-04-26 18:46:41+00:00, 1970-04-26 18:46:4...",NaN
3,3,"[check mail by charlse, make phone call to s...","[1970-04-26 18:46:48+00:00, 1970-04-26 18:46:5...",NaN
4,4,"[check mail by charlse, archive letter and ...","[1970-04-26 18:46:41+00:00, 1970-04-26 18:46:4...",NaN
...,...,...,...,...
995,995,"[check mail by charlse, make phone call to s...","[1970-04-26 18:46:48+00:00, 1970-04-26 18:46:5...",NaN
996,996,"[check mail by charlse, archive letter and ...","[1970-04-26 18:46:41+00:00, 1970-04-26 18:46:4...",NaN
997,997,"[write letter with reason of rejection, check ...","[NaT, 1970-04-26 18:46:48+00:00, 1970-04-26 18...",NaN
998,998,"[check mail by charlse, archive letter and ...","[1970-04-26 18:46:41+00:00, 1970-04-26 18:46:4...",NaN
999,999,"[check mail by charlse, make phone call to s...","[1970-04-26 18:46:48+00:00, 1970-04-26 18:46:5...",NaN

In [7]:
pd=pd2[['ID','concept:name','concept:name_normal']]
pd

,ID,concept:name,concept:name_normal
0,0,"[check mail by charlse, archive letter and ...","[check mail by charlse, archive letter and ..."
1,1,"[check mail by charlse, make phone call to s...","[check mail by charlse, make phone call to s..."
2,2,"[check mail by charlse, archive letter and ...",NaN
3,3,"[check mail by charlse, make phone call to s...",NaN
4,4,"[check mail by charlse, archive letter and ...",NaN
...,...,...,...
995,995,"[check mail by charlse, make phone call to s...",NaN
996,996,"[check mail by charlse, archive letter and ...",NaN
997,997,"[write letter with reason of rejection, check ...",NaN
998,998,"[check mail by charlse, archive letter and ...",NaN
999,999,"[check mail by charlse, make phone call to s...",NaN

In [8]:
import numpy as np
pd['Status'] = np.where(pd['concept:name'] == pd['concept:name_normal'], 'Normal', 'Anomalous')
pd

,ID,concept:name,concept:name_normal,Status
0,0,"[check mail by charlse, archive letter and ...","[check mail by charlse, archive letter and ...",Normal
1,1,"[check mail by charlse, make phone call to s...","[check mail by charlse, make phone call to s...",Normal
2,2,"[check mail by charlse, archive letter and ...",NaN,Anomalous
3,3,"[check mail by charlse, make phone call to s...",NaN,Anomalous
4,4,"[check mail by charlse, archive letter and ...",NaN,Anomalous
...,...,...,...,...
995,995,"[check mail by charlse, make phone call to s...",NaN,Anomalous
996,996,"[check mail by charlse, archive letter and ...",NaN,Anomalous
997,997,"[write letter with reason of rejection, check ...",NaN,Anomalous
998,998,"[check mail by charlse, archive letter and ...",NaN,Anomalous
999,999,"[check mail by charlse, make phone call to s...",NaN,Anomalous

In [9]:
pd['concept:name'][0]

['check  mail by  charlse',
 'archive  letter and  infor mation',
 'take letters and register to secretary',
 'receive letter',
 'write letter with reason of rejection']

In [10]:
pd['concept:name_normal'][0]

['check  mail by  charlse',
 'archive  letter and  infor mation',
 'take letters and register to secretary',
 'receive letter',
 'write letter with reason of rejection']

In [11]:
df=pd[['ID','concept:name','concept:name_normal','Status']]
df

,ID,concept:name,concept:name_normal,Status
0,0,"[check mail by charlse, archive letter and ...","[check mail by charlse, archive letter and ...",Normal
1,1,"[check mail by charlse, make phone call to s...","[check mail by charlse, make phone call to s...",Normal
2,2,"[check mail by charlse, archive letter and ...",NaN,Anomalous
3,3,"[check mail by charlse, make phone call to s...",NaN,Anomalous
4,4,"[check mail by charlse, archive letter and ...",NaN,Anomalous
...,...,...,...,...
995,995,"[check mail by charlse, make phone call to s...",NaN,Anomalous
996,996,"[check mail by charlse, archive letter and ...",NaN,Anomalous
997,997,"[write letter with reason of rejection, check ...",NaN,Anomalous
998,998,"[check mail by charlse, archive letter and ...",NaN,Anomalous
999,999,"[check mail by charlse, make phone call to s...",NaN,Anomalous

In [12]:
df.to_csv('1167521718.csv')

In [13]:
import numpy as np
u1= np.unique(df['Status'])
u1

array(['Anomalous', 'Normal'], dtype=object)